<div class="w-full h-full overflow-y-auto px-4 py-2">
    <div class="flex w-full flex-wrap gap-4 items-start justify-content-between p-1">
        <div class="flex-1">
            <div class="text-muted-color font-medium leading-normal">Overview</div>
            <div class="text-color text-3xl font-semibold leading-normal">Welcome to PrimeNG</div>
        </div>
        <div class="flex gap-2 whitespace-nowrap flex-nowrap">
            <p-iconfield iconPosition="left">
                <p-inputicon class="pi pi-search"></p-inputicon>
                <input type="text" pInputText placeholder="Search" />
            </p-iconfield>
            <p-button severity="secondary" outlined>
                <p-overlayBadge severity="danger" styleClass="!min-w-0 !w-2.5 !h-2.5">
                    <i class="pi pi-bell"></i>
                </p-overlayBadge>
            </p-button>
        </div>
    </div>
    
    <div class="mt-4 flex flex-wrap gap-6 items-center justify-between p-1">
        <p-selectbutton [(ngModel)]="selectedTime" [options]="timeOptions" aria-labelledby="basic" [allowEmpty]="false" (onChange)="changeSelect()" />
        <div class="flex items-center gap-2">
            <p-button label="Download" icon="pi pi-download" iconPos="right" />
            <p-datepicker [(ngModel)]="dates" appendTo="body" dateFormat="dd.mm.yy" selectionMode="range" showIcon iconDisplay="input" placeholder="06/11/2024 - 06/22/2024" />
        </div>
    </div>

    <div class="flex flex-col gap-6 mt-6">
        <div class="h-[460px] w-full border border-surface rounded-2xl py-3 px-4 flex flex-col justify-between">
            <div class="flex items-center gap-6 mb-6">
                <div class="flex-1 text-color font-semibold leading-6">Crypto Analytics</div>
                <div class="flex items-center gap-5">
                    <div *ngFor="let item of chartData?.datasets" class="w-40 flex items-center gap-2">
                        <div class="w-1 h-3 rounded-full" [style.backgroundColor]="item.backgroundColor"></div>
                        <span class="font-medium text-color leading-6">{{ item.label }}</span>
                    </div>
                </div>
            </div>
            <div class="w-full h-full">
                <p-chart type="bar" [data]="chartData" [options]="chartOptions" [height]="'70rem'" />
            </div>
        </div>
        <div class="flex gap-6 xl:flex-row flex-col">
            <div class="flex-1 border border-surface rounded-2xl py-3 px-4">
                <div class="flex items-center gap-6 mb-4">
                    <div class="flex-1 text-color font-semibold leading-6">Transactions</div>
                    <p-button type="button" icon="pi pi-ellipsis-h" severity="secondary" text (click)="menu.toggle($event)" aria-haspopup="true" aria-controls="overlay_menu" />
                    <p-menu #menu id="overlay_menu" [model]="menuItems" [popup]="true" />
                </div>
                <p-table
                    datakey="id"
                    [value]="sampleAppsTableDatas"
                    [paginator]="true"
                    paginatorTemplate="PrevPageLink PageLinks NextPageLink  CurrentPageReport RowsPerPageDropdown"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true"
                    [rows]="5"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    [showFirstLastIcon]="false"
                    [dt]="tableTokens"
                    paginatorStyleClass="!bg-transparent"
                >
                    <ng-template #header>
                        <tr>
                            <th class="w-1/12">Id</th>
                            <th class="w-1/4">Name</th>
                            <th class="w-1/6">Coin</th>
                            <th class="w-1/6">Date</th>
                            <th class="w-1/6">Process</th>
                            <th class="w-1/6">Amount</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-item>
                        <tr>
                            <td class="w-1/12">
                                <div class="text-muted-color">{{ item.id }}</div>
                            </td>
                            <td class="w-1/4">
                                <div class="flex items-center">
                                    <p-avatar [label]="item.name.label" class="mr-2 text-xs font-medium" [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }" shape="circle" />
                                    <div class="leading-6 text-muted-color flex-1">{{ item.name.text }}</div>
                                </div>
                            </td>
                            <td class="w-1/6">
                                <div class="w-full flex items-center">
                                    <i
                                        class="pi "
                                        [ngClass]="{
                                            'pi-bitcoin text-yellow-500 !text-3xl': item.coin !== 'btc',
                                            'pi-ethereum bg-surface-950 text-surface-0 dark:bg-surface-0 dark:text-surface-950 w-7 h-7 rounded-full !flex items-center justify-start': item.coin !== 'eth'
                                        }"
                                    ></i>
                                </div>
                            </td>
                            <td class="w-1/6">
                                <div class="text-muted-color">{{ item.date }}</div>
                            </td>
                            <td class="w-1/6">
                                <p-tag [severity]="item.process.type" [value]="item.process.value" styleClass="font-medium"></p-tag>
                            </td>
                            <td class="w-1/6">
                                <div class="text-muted-color text-left">{{ item.amount }}</div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="xl:w-96 border border-surface rounded-2xl py-3 px-4 flex flex-col justify-between">
                <div>
                    <div class="flex items-center mb-6">
                        <div class="flex-1 text-color font-semibold leading-6">My Wallet</div>
                        <p-button type="button" icon="pi pi-ellipsis-h" severity="secondary" text (click)="menu.toggle($event)" aria-haspopup="true" aria-controls="overlay_menu" />
                        <p-menu #menu id="overlay_menu" [model]="menuItems" [popup]="true" styleClass="ml-6" />
                    </div>
                    <p-metergroup [value]="metersData" labelPosition="end">
                        <ng-template #label>
                            <div class="flex flex-col gap-5 mt-4">
                                <ng-container *ngFor="let val of metersData; let index = index">
                                    <div class="flex items-center gap-2">
                                        <div class="text-color uppercase font-medium leading-6 flex-1 flex items-center gap-2">
                                            <div class="w-1 h-1 rounded-full" [ngStyle]="{ backgroundColor: val.color }"></div>
                                            <span class="text-muted-color">{{ val.label }}</span>
                                            <span class="text-muted-color">({{ val.value }}%)</span>
                                        </div>
                                        <div class="leading-6 font-medium text-color">{{ val.text }}</div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-template>
                    </p-metergroup>
                </div>
                <p-button label="Show All" outlined styleClass="w-full" class="mt-6" />
            </div>
        </div>
    </div>

</div>
