<div [ngClass]="{'flex flex-col items-center': isSlimMenu, 'w-auto': !isSlimMenu}" class="min-h-screen flex flex-col justify-between">
    <div class="flex items-center mt-2">
      <!-- primeng svg -->
      <div class="w-11 h-11 flex items-center justify-center">
        <svg
          width="24"
          height="28"
          viewBox="0 0 20 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14.65 11.0645L13.1283 10.7253L14.3119 12.4216V17.6803L18.3698 14.2876V8.52002L16.5099 9.19856L14.65 11.0645Z"
            fill="var(--p-primary-color)"
          />
          <path
            d="M5.18078 11.0645L6.70251 10.7253L5.51894 12.4216V17.6803L1.46098 14.2876V8.52002L3.32088 9.19856L5.18078 11.0645Z"
            fill="var(--p-primary-color)"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M6.02649 12.7634L7.37914 10.7278L8.22455 11.2367H11.6062L12.4516 10.7278L13.8042 12.7634V20.397L12.7898 21.9237L11.6062 23.1111H8.22455L7.04098 21.9237L6.02649 20.397V12.7634Z"
            fill="var(--p-primary-color)"
          />
          <path
            d="M14.311 20.9058L16.5091 18.7005V16.4952L14.311 18.3612V20.9058Z"
            fill="var(--p-primary-color)"
          />
          <path
            d="M5.51868 20.9058L3.32062 18.7005V16.4952L5.51868 18.3612V20.9058Z"
            fill="var(--p-primary-color)"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M9.578 0.888672H7.7177L6.36505 4.11174L8.56311 10.5579H11.4375L13.4665 4.11174L12.1138 0.888672H10.2543V10.5578H9.578V0.888672Z"
            fill="var(--p-primary-color)"
          />
          <path
            d="M8.56283 10.5575L1.29232 7.84329L0.277832 3.60242L6.53385 4.11132L8.73191 10.5575H8.56283Z"
            fill="var(--p-primary-color)"
          />
          <path
            d="M11.4372 10.5575L18.7077 7.84329L19.7222 3.60242L13.2971 4.11132L11.2681 10.5575H11.4372Z"
            fill="var(--p-primary-color)"
          />
          <path
            d="M13.8041 3.60283L17.3548 3.26356L14.9876 0.888672H12.6205L13.8041 3.60283Z"
            fill="var(--p-primary-color)"
          />
          <path
            d="M6.02676 3.60283L2.47604 3.26356L4.84318 0.888672H7.21033L6.02676 3.60283Z"
            fill="var(--p-primary-color)"
          />
        </svg>
      </div>
      <!-- <div [ngClass]="{ hidden: isSlimMenu, block: !isSlimMenu }" class="text-surface-950 dark:text-surface-0 font-medium text-3xl">
        Prime
      </div> -->
    </div>
    <div class="h-full flex flex-col">
      <!-- nav links -->
      <div
        *ngFor="let navItem of sampleAppsSidebarNavs"
        [pTooltip]="isSlimMenu ? navItem.title : null"
        (click)="setSelectedSampleAppsSidebarNav(navItem.title)"
        class="px-4 py-1 flex items-center gap-1 cursor-pointer text-base rounded-lg transition-all select-none"
        [routerLink]="navItem.path"
        [ngClass]="{
          'w-12 justify-center py-4': isSlimMenu,
          'w-full': !isSlimMenu,
          'text-muted-color hover:bg-emphasis bg-transparent':
            selectedSampleAppsSidebarNav !== navItem.title,
          'text-primary-contrast bg-primary hover:bg-primary-emphasis':
            selectedSampleAppsSidebarNav === navItem.title
        }"
      >
        <i [class]="navItem.icon"></i>
        <span
          [ngClass]="{
            hidden: isSlimMenu,
            'font-medium leading-8': !isSlimMenu
          }"
          >・</span
        >
        <span
          [ngClass]="{
            hidden: isSlimMenu,
            'font-medium leading-none': !isSlimMenu
          }"
          >{{ navItem.title }}</span
        >
      </div>
      <!-- settings and profile image -->  
      <div [ngClass]="{'w-12 flex flex-col items-center': isSlimMenu, 'w-auto': !isSlimMenu }" class="pb-3 mt-2"> 
        <div class="mt-20 flex flex-col gap-2">
          <div
            *ngIf="false"
            [pTooltip]="isSlimMenu ? 'Expanded Mode' : 'null'"
            class="px-4 py-1 flex items-center gap-1 cursor-pointer text-base rounded-lg transition-all select-none text-muted-color hover:bg-emphasis"
            [ngClass]="{
              'w-12 justify-center py-4': isSlimMenu,
              'w-full': !isSlimMenu
            }"
          >
            <a class="cursor-pointer block p-0 m-0 leading-none">
              <a class="cursor-pointer block p-0 m-0 leading-none">
                <i
                  [class]="
                    isSlimMenu ? 'pi pi-window-maximize' : 'pi pi-window-minimize'
                  "
                ></i>
                <span [class]="isSlimMenu ? 'hidden' : 'font-medium leading-8'"
                  >・</span
                >
                <span [class]="isSlimMenu ? 'hidden' : 'font-medium leading-none'">
                  Slim Mode</span
                >
              </a>
            </a>
          </div>
          <div
            *ngFor="let navItem of sampleAppsSidebarNavsMore"
            [pTooltip]="isSlimMenu ? navItem.title : 'null'"
            (click)="dashboardSidebarVisible = true"
            class="px-4 py-1 flex items-center gap-1 cursor-pointer text-base rounded-lg transition-all select-none"
            [ngClass]="{
              'w-12 justify-center py-4': isSlimMenu,
              'w-full': !isSlimMenu,
              'text-muted-color hover:bg-emphasis bg-transparent':
                selectedSampleAppsSidebarNav !== navItem.title,
              'text-primary-contrast bg-primary hover:bg-primary-emphasis':
                selectedSampleAppsSidebarNav === navItem.title
            }"
          >
            <i [class]="navItem.icon"></i>
            <span [class]="isSlimMenu ? 'hidden' : 'font-medium leading-8'"
              >・</span
            >
            <span [class]="isSlimMenu ? 'hidden' : 'font-medium leading-none'">{{
              navItem.title
            }}</span>
          </div>
        </div>
        <p-divider />
        <div
          [class]="isSlimMenu ? 'justify-center' : ' gap-3'"
          class="flex items-center"
        >
          <p-avatar
            image="https://www.primefaces.org/cdn/primevue/images/landing/apps/main-avatar.png"
            size="large"
            shape="circle"
            class="shrink-0"
          />
          <div>
            <div
              [class]="
                isSlimMenu ? 'hidden' : 'text-base font-medium text-color leading-5'
              "
            >
              Robin Jonas
            </div>
            <div [class]="isSlimMenu ? 'hidden' : 'text-sm text-muted-color mt-1'">
              hi&#64;robin.xyz
            </div>
          </div>
        </div>
      </div>
    </div>
</div>